<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title> MiViaje | Listado de alquileres</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
    <style>
        nav.navbar {
	         background-color: #2B52DD;
	         font-family: Arial;
	         font-size: 1 em;
        }
        .btn-primary{
             background-color: #FFA83A;
        }
        .btn-primary:hover{
	         background-color: #B22D13;
        }
        .btn-primary:active {
            box-shadow: none;
        }
        .btn-secondary{
             background-color: #FFA83A;
        }
        .btn-secondary:hover{
	         background-color: #B22D13;
        }
        .btn-secondary:active {
            box-shadow: none;
        }
        body{
             background-image: url("../imagenes/playa.jpg");
             background-repeat: repeat;
        }
    </style>
  </head>

  <body>
    <header th:insert="fragments/menu.html :: menu-principal"></header>
    <main role="main">     
      <hr>
        <div class="card">
          <h4 class="card-header"><strong>Detalles y edición de alquileres</strong></h4>              
          <div class="card-body">
            <a class="btn btn-success" th:href="@{/alquileres/create}" title="Crear nuevo alquiler" role="button"><i class="fas fa-plus-circle" aria-hidden="true"></i> Nuevo</a>
            <hr>
            <div th:if="${msg != null}" class="alert alert-success" th:text="${msg}" role="alert"/></div>
            <table class="table table-striped table-hover">
              <thead class="thead-dark">
                <tr>
                  <th class="align-middle" scope="col"></th>
                  <th class="align-middle" scope="col">Nombre</th>
                  <th class="align-middle" scope="col">Categoría</th>                  
                  <th class="align-middle" scope="col">Fecha de publicación</th>
                  <th class="align-middle" scope="col">Precio</th>
                  <th class="align-middle" scope="col">Descripción</th>
                  <th class="align-middle" scope="col">Puntaje</th>
                  <th class="align-middle" scope="col">Destacado</th>
                  <th class="align-middle" scope="col">Pet friendly</th>
                  <th class="align-middle" scope="col">Operaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="alquiler : ${alquileres}">
                  <td>
                     <img class="rounded mx-auto d-block" th:src="@{/imagenes/{img} (img=${alquiler.imagen})}" alt="propiedad en alquiler" width="170" height="140">
                  </td>
                  <td class="align-middle" th:text="${alquiler.nombre}"></td>
                  <td class="align-middle" th:text="${alquiler.categoria.nombre}"></td>
                  <td class="align-middle" th:text="${#calendars.format(alquiler.fecha,'dd/MM/yyyy')}"></td> 
                  <td class="align-middle" th:text="${alquiler.precio}"></td>                  
                  <td class="align-middle" th:text="${alquiler.descripcion}"></td>
                  <td class="align-middle" th:text="${alquiler.puntaje}"></td>
                  <td class="align-middle" th:text="${alquiler.destacado==1 ? 'SI' : 'NO'}"></td>
                  <td class="align-middle" th:text="${alquiler.pet==1 ? 'SI' : 'NO'}"></td>
                  <td class="align-middle">
                    <a th:href="@{/alquileres/edit/{id} (id=${alquiler.id})}" class="btn btn-success btn-sm" role="button" title="Editar"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                    <a th:href="@{/alquileres/delete/{id} (id=${alquiler.id})}" onclick="return confirm('¿Está seguro que desea eliminar este registro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar"><i class="fas fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <br/>
            <nav th:if="${alquileres.totalPages > 0}" aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a th:href="@{/alquileres/indexPaginate(page=${alquileres.number -1})}" class="page-link">Anterior</a></li>
                  <li class="page-item"><a th:href="@{/alquileres/indexPaginate(page=${alquileres.number +1})}" class="page-link">Siguiente</a></li>
                </ul>
            </nav>
          </div>
       </div>
    </main>
    <footer th:insert="fragments/footer.html :: pie-pagina" class="container-fluid" style="color:white; margin-top:200px;margin-left:100px"></footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>